.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.backGroundImg {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;
  z-index: -1;
}

.titleBox {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.contentBox {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.etcBox {
  display: flex;
  flex-direction: column;
}

.sns {
  cursor: pointer;
  width: 30vw;
}
/* 반응형 CSS */
@media (min-width: 280px) {
  .titleBox {
    top: 10%;
  }
  .title {
    width: 100vw;
  }
  .contentBox {
    flex-direction: column;
  }
  .printer{
    width: 100vw;
  }
  .flags{
    width: 100vw;
  }
  .sns {
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .contentBox {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .titleBox {
    top: 15%;
  }
  .title {
    width: 50vw;
    min-width: 1004px;
  }
  .printer{
    width: 30vw;
   height: 0vh;
    max-width: 600px;
  }
  .flags{
    width: 50vw;
  }
  .sns {
    width: 50vw;
  }
}
